@import url("https://fonts.googleapis.com/css?family=Quicksand");

body {
  background: #f9fbfd;
  font-family: "Quicksand", sans-serif;
}
#signup {
  padding-top: 50px;
}
#signup .card {
  background-color: #dfdbe5;
  border-radius: 8px;
  border: 0;
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0);
}
#signup .card .card-title {
  padding: 2rem 1.2rem 0;
  margin-bottom: 0;
  text-align: center;
}
#signup .card .card-title h2 {
  position: relative;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#signup .card .card-title h2:after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 50px;
  background: #21253d;
}
.img-holder {
  padding: 3rem;
}
img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  height: 80px;
}
.form {
  background: #fff;
  padding: 20px 30px;
}
form label {
  font-weight: bold;
}
form .form-control {
  border-radius: 1px;
  border-left: none;
  height: 50px;
}
form .input-group > .input-group-prepend > .input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-radius: 1px;
  background: #dfdbe5;
  /*     border-right: none; */
}
button.btn {
  border-radius: 1px;
  margin-top: 15px;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: 600;
  height: 50px;
}
.btn-secondary {
  background-color: #3d2b3d;
}
